.App{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.inputBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 600px;
    padding-top: 40px;
}
.listBox{
    width: 600px;
    padding-top: 40px;
}